/* Classe CSS para estilizar o elemento p que contém o nome do carro (Marca/Modelo) mascarado */
.Palavra-Secreta {
    font-size: 3rem; /* Define o tamanho da fonte */
    font-weight: bold; /* Define o peso da fonte para negrito */
    letter-spacing: 0.4rem; /* Define o espaçamento entre as letras */
    text-transform: uppercase; /* Converte o texto em letras maiúsculas */
    margin: 1rem 0; /* Define a margem superior e inferior */
  }