/* Estiliza a classe "teclado" */
.teclado{
    /* outras propriedades de estilo */
    display:inline-flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    width: 800px;
    border-radius: 40px;
    background-color: #757575;
    cursor: pointer; 
  }
  /* Estiliza o botão desabilitado */
  button:disabled{
    opacity: 0.5;
  }
  /* Estiliza a classe "alfabeto" */
  .alfabeto{
    text-transform: uppercase; /* Converte o texto em letras maiúsculas */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(48, 47, 47);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #09ebf3;
    flex-basis: 7%;
    font-family: inherit;
    font-size: 27px;
    height: 45px;
  }
  /* Estiliza a classe "numerico" */
  .numerico{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(48, 47, 47);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #09ebf3;
    flex-basis: 7%;
    font-family: inherit;
    font-size: 27px;
    height: 45px;
  }
/*  Responsividade: Teclado no uso em meia tela desktop/Notebook */ 
@media (max-width: 850px){
  .teclado{
    /* outras propriedades de estilo */
    gap: 10px;
    padding: 10px;
    width: 500px;
    border-radius: 30px;
  }
  .alfabeto{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 7%;
    font-size: 27px;
    height: 45px;
  }
  .numerico{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 7%;
    font-size: 27px;
    height: 45px;
  }
}
/* Responsividade: Teclado no uso em menor tela possivel desktop/Notebook */
@media (max-width: 520px){
  .teclado{
    /* outras propriedades de estilo */
    gap: 7px;
    padding: 7px;
    width: 400px;
    border-radius: 15px;
  }
  .alfabeto{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 7%;
    font-size: 27px;
    height: 35px;
  }
  .numerico{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 7%;
    font-size: 27px;
    height: 35px;
  }
}
/* Responsividade: telcado no uso em Smartphone  */
@media (max-width: 460px){
  .teclado{
    /* outras propriedades de estilo */
    gap: 12px;
    padding: 5px;
    width: 395px;
    border-radius: 15px;
  }
  .alfabeto{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 14%;
    font-size: 30px;
    height: 40px;
  }
  .numerico{
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    flex-basis: 14%;
    font-size: 30px;
    height: 40px;
  }
}