h1 {
    font-size: 50px; /* Define o tamanho da fonte */
    font-weight:bold; /* Define o peso da fonte para negrito */
    text-align: center; /* Define alinhamento do texto*/
    color: rgb(245, 245, 245); /* Define a cor do titulo */
    margin: 0; /* Define a margem superior e inferior */
  }

.Pos-Titulo {
    font-size: 20px; /* Define o tamanho da fonte */
    font-family:Arial, Helvetica, sans-serif; /* Define fonte de letra */
    font-weight:600; /* Define o peso da fonte para negrito */
    margin: 0.1cm; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}

.Legenda{
    font-size: 16px; /* Define o tamanho da fonte */
    font-family:Arial, Helvetica, sans-serif; /* Define fonte de letra */
    font-weight:200; /* Define o peso da fonte para negrito */
    margin:0.2cm; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}

.Tentativas{
    font-size: 20px; /* Define o tamanho da fonte */
    font-family:Arial, Helvetica, sans-serif; /* Define fonte de letra */
    font-weight: bold; /* Define o peso da fonte para negrito */
    margin: 0.1cm; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}

.Errou{
    font-size: 18px; /* Define o tamanho da fonte */
    font-family:Georgia, 'Times New Roman', Times, serif; /* Define fonte de letra */
    font-weight: bold; /* Define o peso da fonte para negrito */
    margin: 0; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}

.mensagem{
    font-size: 25px; /* Define o tamanho da fonte */
    font-family:Georgia, 'Times New Roman', Times, serif; /* Define fonte de letra */
    color: green; /* Define cor do texto*/
    font-weight: bold; /* Define o peso da fonte para negrito */
    margin: 1; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}
.correto {
    padding: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Define fonte de letra */
    font-size: 35px; /* Define o tamanho da fonte */
    color:green; /* Define cor do texto*/
    margin: 0; /* Define a margem superior e inferior */
    text-align: center; /* Define alinhamento do texto*/
}

.TextFooter{
    font-size: 16px; /* Define o tamanho da fonte */
    font-weight:200; /* Define o peso da fonte para negrito */
    margin:0.1cm; /* Define a margem superior e inferior */
    text-align: left;
}

/* Responsividade: Uso em Smartphone  */
@media (max-width: 460px){
    .Pos-Titulo {
        font-size: 18px; /* Define o tamanho da fonte */
        margin: 0; /* Define a margem superior e inferior */
    }
    .Legenda{
        font-size: 14px; /* Define o tamanho da fonte */
        margin: 0; /* Define a margem superior e inferior */
    }
}