.teclado{
    /* outras propriedades de estilo */
    display:inline-flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    width: 800px;
    border-radius: 40px;
    background-color: #757575;
    cursor: pointer; 
  }
  
  button:disabled{
    opacity: 0.5;
  }
  
  .alfabeto{
    text-transform: uppercase; /* Converte o texto em letras maiúsculas */
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(48, 47, 47);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #09ebf3;
    flex-basis: 7%;
    font-family: inherit;
    font-size: 27px;
    height: 45px;
  }
  
  .numerico{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(48, 47, 47);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #09ebf3;
    flex-basis: 7%;
    font-family: inherit;
    font-size: 27px;
    height: 45px;
  }